* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Noto Serif Telugu', sans-serif;
    
}

h1, h2 {
    font-family: 'Playfair Display', sans-serif;

}

#logo {
    text-align: center;
    padding: 10px 30px;
    font-size: 250%;
    
}

/* navigation links*/

#menu {
    font-size: 110%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    
    color: #3a3a3a;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding-top: 0;
    margin-bottom: 30px;
}

#menu {
    line-height: 5px;
}

#menu a:hover {
    border-bottom: 1px solid;
}

/* Hero Image*/

#hero-image {
    background: url(../images/hero-image.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
    background-size: cover;
    padding-top: 70px;
    
}

/* Activities*/

#activities {
    
    text-align: center;
    padding: 20px 30px;
}

.activities-images {
    display: flex;
    flex-flow: row;
    padding: 0;
    
    
    
}

.activities-images > div {
    width: 100%;
    row-gap: 30px;
    padding: 20px 10px;
    margin: 0px 20px;
    height: 200%;
}

/* Footer*/

footer {
    height: 120px;
}

footer > ul {
    text-align: center;
}

ul > li {
    display: inline;
}

li i {
    font-size: 260%;
    margin: 2%;
    padding: 5%;
    color: #3a3a3a;
}


