* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Noto Serif Telugu', sans-serif;
}

h1, h2 {
    font-family: 'Playfair Display', sans-serif;
}

#logo {
    text-align: center;
    padding: 30px 30px;
    font-size: 250%;
}

/* navigation links*/

#menu {
    font-size: 140%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    color: black;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding-top: 0;
    margin-bottom: 30px;
}

#menu {
    line-height: 5px;
}

#menu a:hover {
    border-bottom: 1px solid;
}

/* Hero Image first page*/

#hero-image {
    background: url(../images/hero-image.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
    background-size: cover;
    padding-top: 70px;
    
}

/* Hero Image second page*/

#hero-image2 {
    background: url(../images/hero-image2.jpg) no-repeat center center;
    height: 600px;
    width: 100%;
    background-size: cover;
    padding-top: 70px;
}

/* Activities*/

#activities {
    text-align: center;
    padding: 30px 30px;
}

.activities-images {
    display: flex;
    flex-flow: row;
}

.activities-images > div {
    text-align: center;
    width: 100%;
}

/* Footer*/

footer {
    height: 120px;
}

footer > ul {
    text-align: center;
}

ul > li {
    display: inline;
}

li i {
    font-size: 260%;
    margin: 2%;
    padding: 5%;
    color: #3a3a3a;
}

/* Hystory of St. Michael's*/

.history {
    text-align: center;
    margin: 60px 40px;
}

/* Adress and map*/

.where {
    text-align: center;
    margin: 60px 40px;
    padding-bottom: 40px;
}

/* Contact*/

.contact {
    text-align: center;
    margin: 60px 40px;
}

/* Sign up form*/

.sign {
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup {
    margin-left: 300px;
    width: 500px;
    height: 240px;
    padding: 80px 150px;
    text-align: center;
    border: outset 20px;
    border-color: brown;
    border-radius: 10%;
}

#last {
    background-color: tan;
}

#submit {
    background-color: orange;
    border: solid 1px;
    text-align: center;
    border-radius: 25%;
    margin-top: 30px;
    padding: 10px 30px;
}

/* Media queries  for tablet size screens*/

@media screen and (max-width: 1200px) {

/* General */

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    * {
        padding: 0;
        margin: 0;
        border: none;
    }

    /* Activities of St. Michael's */

    .activities-images {
        display: flex;
        flex-flow: column; 
    }
   
    #activities {
        padding: 35px;
    }

    /* Sign up page */

    #signup {
        width:500px;
        margin-left: 250px;
        margin-top: 20px;
        margin-bottom: 60px;
        padding: 20px 20px 140px 20px;
 }   
}

/* Media queries for smart phone size screens */

@media screen and (max-width: 900px) {
    
/* General */

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    /* Sign up page */

    #signup {
        width:200px;
        margin-left: 250px;
        margin-top: 40px;
        padding: 20px 20px 170px 20px;
    }
}